<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.teamsai.saimockbank.domain.identity.mapper.IdentityMapper">
    <select id="findByNameAndUserToken" resultType="org.teamsai.saimockbank.domain.identity.dto.IdentityDTO">
        SELECT identity_id, name, user_token, issued_at,created_at,updated_at
        FROM bank_identity
        WHERE name = #{name} AND user_token = #{userToken}
    </select>
    <select id="findByIdentityId" resultType="org.teamsai.saimockbank.domain.account.dto.BankAccountDTO">
        SELECT account_id, identity_id, bank_code, bank_name, account_number, holder_name, balance
        FROM bank_account
        WHERE identity_id = #{identityId}
    </select>

    <update id="updateUserKey">
    UPDATE bank_identity
    SET user_key_hash = #{userKeyHash},
        issued_at = NOW(),
        updated_at = NOW()
    WHERE identity_id = #{identityId}
    </update>
</mapper>